<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>partyloyalty-house-tgif</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="stylesheets/tgif.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
  <div id="app">
    <div class="container-fluid">
      <div class="row vertical-align header-container">
        <div class="col-sm-1">
          <img class="logo" src="https://docs.google.com/drawings/d/e/2PACX-1vRWuu3KiSOq2X9wzyA-T4Ck8_GaWmcjk9ccF-FVeVc2ZR4V7UnLNIgqiWnQmoCDoMKwNLxiH1rlHe7T/pub?w=599&amp;h=498">
        </div>
        <div class="col-sm-9">
          <h1 class="header-title ">Transparent Government In Fact </h1>
        </div>
        <a class="col-sm-2 pull-right" id="email-link" href="mailto:info@tgif.net"><span class="glyphicon glyphicon-envelope"></span> info@tgif.net </a>
      </div>
      <nav class="row navbar-default">
        <ul class="nav nav-pills" role="tablist">
          <li><a class="nav-option" href="index-tgif.html">Home</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle nav-option" data-toggle="dropdown">
              Congress 113 <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="senate-tgif.html">Senate</a></li>
              <li><a href="house-tgif.html">House</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle nav-option" data-toggle="dropdown">
              Attendance <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="attendance-senate-tgif.html">Senate</a></li>
              <li><a href="attendance-house-tgif.html">House</a></li>
            </ul>
          </li>
          <li class="dropdown active">
            <a class="dropdown-toggle nav-option" data-toggle="dropdown">
              Party Loyalty <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="partyloyalty-senate-tgif.html">Senate</a></li>
              <li class="active"><a>House</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <div class="row">
        <div class="col-sm-6">
          <h2>Party Loyalty</h2>
          <p>Those who consider themselves to be strong partisans, strong Democrats and strong Republicans respectively, tend to be the most faithful in voting for their party's nominee for office and legislation that backs their party's agenda. </p>
        </div>
        <div class="col-sm-6">
          <h3>House at a glance</h3>
          <table id="overview-table" class="table">
            <thead>
              <tr class="th-row">
                <th>Party</th>
                <th>Number of Reps</th>
                <th>% Votes w/Party</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(partyInfo,key) in overviewStats" v-bind:class="[{ republicanRow: partyInfo.partyName == 'Republican' }, {democratRow: partyInfo.partyName == 'Democratic'}, {independentRow: partyInfo.partyName == 'Independent'}]">
                <td>{{ partyInfo.partyName }}</td>
                <td>{{ partyInfo.numberOfMembers }}</td>
                <td>{{ partyInfo.averageLoyalty }}</td>
              </tr>
            </tbody>
          </table>
          <div class="loader-container" v-if="!dataLoaded">
            <div class="lds-grid">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="tab">
          <button class="tab-button" v-on:click="tableDisplayed = 'most'" v-bind:class="{ activeTab: tableDisplayed == 'most' }">Most Loyal</button>
          <button class="tab-button" v-on:click="tableDisplayed = 'least'" v-bind:class="{ activeTab: tableDisplayed == 'least' }">Least Loyal</button>
        </div>
        <div id="most-loyal" class="tabcontent" v-if="tableDisplayed == 'most'">
          <h3>Most Loyal (Top 10% of House)</h3>
          <table class="table">
            <thead>
              <tr class="th-row">
                <th>Name</th>
                <th>% Party Votes</th>
                <th>Total Votes</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="member in percentStats.mostLoyal" v-bind:class="[{ republicanRow: member.party == 'R' }, {democratRow: member.party == 'D'}]">
                <td>{{ member.first_name + " " }} {{ member.last_name }}</td>
                  <td>{{ member.votes_with_party_pct}}</td>
                <td>{{ member.total_votes}}</td>
              </tr>
            </tbody>
          </table>
          <div class="loader-container" v-if="!dataLoaded">
            <div class="lds-grid">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
        <div id="least-loyal" class="tabcontent" v-if="tableDisplayed == 'least'">
          <h3>Least Loyal (Bottom 10% of House)</h3>
          <table class="table">
            <thead>
              <thead>
                <tr class="th-row">
                  <th>Name</th>
                  <th>% Party Votes</th>
                  <th>Total Votes</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="member in percentStats.leastLoyal" v-bind:class="[{ republicanRow: member.party == 'R' }, {democratRow: member.party == 'D'}]">
                  <td>{{ member.first_name + " " }} {{ member.last_name }}</td>
                  <td>{{ member.votes_with_party_pct}}</td>
                  <td>{{ member.total_votes}}</td>
                </tr>
              </tbody>
          </table>
        </div>
      </div>
      <footer class="row">
        <p class="outside-text"><span class="glyphicon glyphicon-copyright-mark"></span>&nbsp; 2016 TGIF | All Rights Reserved</p>
      </footer>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="statistics.js"></script>
</body>

</html>
